* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 5px;
}

.header-line1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 5px 10px 5px;
    background-color: #051d30;
    box-shadow: 2px 2px 5px #051d30;
}
.nameH {
    color: #f2eaea;
    align-content: center;
}

.searchContainer {
    display: flex;
    width: 50%;
}

.searchContainer-input {
    width: 95%;
    height: 45px;
    padding: 5px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 1.1rem;
}

.searchContainer-a {
    width: 7%;
    background: rgb(211, 201, 201);
    border: 1px solid black;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.searchContainer-a img {
    max-width: 100%;
    max-height: 100%;
}

.searchContainer-a:hover {
    cursor: pointer;
    outline: auto;
    outline-color: orange;
}

.searchContainer-a img {
    width: 90%;
    object-fit: contain;
}

.signinA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #f2eaea;
    padding: 5px;
}

.signinA:hover {
    outline: auto;
}

.cartA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    padding: 5px;
}

.cartA:hover {
    outline: auto;
}

.header-line2 {
    display: flex;
    justify-content: space-between;
    background-color: #152c3ff3;
    padding: 0 50px 0 50px;
    box-shadow: 5px 5px 10px #051d30;
}

.line2-a {
    font-size: 13px;
    color: #f2eaea;
    padding: 10px;
}

.line2-a:hover {
    outline: auto;
}

.logo {
    width: 45px;
}



*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
    min-height: 100%;
}
body {
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #cfc2c2;
    background-color: #051d30;
    border-top: 1px solid #e5e5e5;
    font-family: 'Roboto';
    font-weight: 300;
}

.homebodyHeader {
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-bottom: 1px #bfbec7 solid;

}

.bar1 {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #051d30;
}

.bar1:hover {
    color: black;
    border-bottom: 3px rosybrown solid;
}

.line{
    display: inline-block;
    width: 30%;
    height: 2px;
    background-color: #051d30d0;
    vertical-align: middle;
    animation: fadeIn;
    animation-duration: 3s;
}
.homebody{
    display: inline-block;
}

.homebody{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.home{
    display: inline-block;
    margin: 30px;
    font-family: 'Anta';
    color: #051d30;
    animation: fadeIn;
    animation-duration: 3s;
}


.home2{
    text-align: left;
    margin: 30px;
    font-family: 'Anta';
    color: #051d30;
    animation: fadeIn;
    animation-duration: 3s;
}
.dashgrid2{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto;
    gap: 1%;
    padding: 10px;
    width: 100%;
}

.dash_item2{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 400px;
    font-size: 14px;
}
.dash_item2:hover{
    background-color: #00000088;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transform: scale(1.2);
    transition-duration: 1s;
    font-size: 12px;
    }
 
.dashgrid2 a{
    text-decoration: none;
    max-width: 100%; 
    overflow: hidden;
    color: #ffffff;
    font-size: 14px;
}
.item.item12{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("decorum.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
.item.item22{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("outside.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .item.item32{
   background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("throws.png"); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.item.item42{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("prof.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }


/*body home*/
.dashgrid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    padding: 10px;
    gap: 5%;
    width: 100%;
}

.dashgrid a{
    text-decoration: none;
    /* border: 4px solid rosybrown; */
    color: #ffffff;
    /* border-radius: 10px; */
}
.dash_item{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 200px;
}

.descript{
    position: absolute;
    top: 50%;
    left: 50%;
}
.item{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: -1;
}

.dash_item:hover{
background-color: #00000088;
width: 100%;
height: 100%;
border-radius: 3px;
}

.item.item1{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("food.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
.item.item2{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("apparel.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .item.item3{
   background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("electronics.png"); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.item.item4{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("books.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .item.item5{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("toys.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .item.item6{
    background-image: radial-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0)), url("general.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
/* end*/


/* employee landing page*/

.empcontain{
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-columns: 250px 275px auto auto;
    margin: 10px;
    animation: fadeIn;
    animation-duration: 2s;
}
.empitem{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #051d30;
    display: flex;
    align-items:center;
    flex-direction:column;
}

.empitem:nth-of-type(6) {
    grid-column-start: 3;
    grid-column-end: 5;
}
.empitem:nth-of-type(2) {
    grid-row-start: span 2;
}
.image1{
margin: 30px;
height: fit-content;
}
.dayscontain{
    display:grid;
    grid-template-rows: auto auto auto;
    width: 90%;
    grid-gap: 5px;
    text-align:center;
    align-items:center;
    border: #051d30;
    color:white;
}
.days{
    padding: 10px 0 10px 0;
    background: #051d30;
}


.notice{
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rosybrown;
    width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    align-items: center;
}
.txt2{
    color: grey;
}


.it5{
    justify-content:center;
    align-items:center;
    text-align:center;
}

.buttonit5{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background-color:rosybrown;
    border-radius:10px;
}
.buttonit5:hover{
    color: white;
    background-color:rgb(137, 103, 103);
}

.it6{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
}

.buttonit6{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background-color:rosybrown;
    border-radius:10px;
}
.buttonit6:hover{
    color: white;
    background-color:rgb(137, 103, 103);
}

.not4{
    color: white;
    background-color: #051d30;
}

.textlink{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.txt41 a, .txt42 a, .txt43 a, .txt44 a{
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.image3{
margin: 30px;
height: fit-content;
}
.image3 img{
    text-align: center;
    width:400px;
    border: 3px solid #051d30;
    border-radius:10px;
    padding: 20px;
}
.image3 p{
    margin:10px;
    font-size:20px;
    text-align:center;
    font-weight: 300;
}
.txt3{
    text-indent: 3em;
    margin:15px;
}


@media screen and (max-width: 1300px) {
    .empcontain{
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-columns: 250px 150px auto auto;
        margin: 10px;
        animation: fadeIn;
        animation-duration: 2s;
    }

    .buttonit5{
        text-decoration: none;
        color: black;
        padding: 30px 50px;
        background-color:rosybrown;
        border-radius:10px;
    }
    .buttonit5:hover{
        color: white;
        background-color:rgb(137, 103, 103);
    }

    .it6{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items:center;
        text-align:center;
    }
    
    .buttonit6{
        text-decoration: none;
        color: black;
        padding: 10px 30px;
        background-color:rosybrown;
        border-radius:10px;
    }
    .buttonit6:hover{
        color: white;
        background-color:rgb(137, 103, 103);
    }
    .it3{
        text-align:center;
        align-items:center;
    }
    .image3{
        margin: 7px;
        height: fit-content;
    }
    .image3 img{
        text-align: center;
        width:175px;
        border: 3px solid #051d30;
        border-radius:10px;
        padding: 20px;
    }
    .image3 p{
    font-size:20px;
    text-align:center;
    font-weight: 300;
    }
}


@media screen and (max-width: 900px) {
    .empcontain{
        display: flex;
        flex-direction: column;
        height: 100vh;
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 10px;
    }
    .empitem{
        flex-direction:row;
        background: #fff;
        height: 100vh;
    }
    .empitem:nth-of-type(1) {
        height: 200vh;
    }
    .dayscontain{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    text-align:center;
    align-items:center;
    border: #051d30;
    color:white;
    }
    .days{
        width: 80%;
        background: #051d30;
    }
    .notice{
        font-size: 15px;
        font-weight:700;
        color: black;
        background-color: rosybrown;
        width:20%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        height:100%;
        display:flex;
        justify-content:center;
        margin-right: 20px;
    }

    .buttonit5{
        text-decoration: none;
        color: black;
        padding: 10px 150px;
        background-color:rosybrown;
        border-radius:10px;
    }
    .buttonit5:hover{
        color: white;
        background-color:rgb(137, 103, 103);
    }

    .not4{
        color: white;
        background-color: #051d30;
    }
    .textlink {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    .txt41 a, .txt42 a, .txt43 a, .txt44 a{
        display: flex;
        flex-direction: column;
        padding: 3px;
    }
    .image3{
        margin: 10px;
    }
    .image3 img{
        text-align: center;
        width:125px;
        border: 3px solid #051d30;
        border-radius:10px;
        padding: 20px;
    }

}


/* end*/

/*start of customer chat*/
.Chat_header{
    text-align:center;
    background-color: rosybrown;
    padding: 5px;
    margin-bottom:20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.chat{
    font-family: Roboto;
    margin: 0 10%;
    background-color: white;
    border-radius:10px;
    width: 80%;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.836);
    padding:20px;
}
.chatbox{
    overflow-y:scroll;
    display:flex;
    flex-direction:column-reverse;
    position: relative;
    max-height:300px;
}
.messages{
    display:flex;
    flex-flow:column nowrap;
    position: relative;
    background-color:white;
    max-height:100%;
}


.message {
    width: 50%;
    padding: 10px 10px 5px 10px;
    margin: 10px 0;
    border-radius: 20px;
    word-break:break-word;
}
.vend{
    background-color:rgba(128, 128, 128);
    align-self:flex-end;
    color:white
}
.cust{
    background-color:rgba(128, 128, 128);
    align-self:flex-start;

}

.messageSend{
    border: 3px black;
    border-radius:20px;
}

.messageSend form{
    display:flex;
    padding:20px
}

.messageBar {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 8px 0;
    padding:10px
}

.messageSubmit {
    width: 8%;
    background-color: rosybrown;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


/*end of customer chat*/



.abovefooter{
    text-decoration: none; 
    background-color: #152c3ff3; 
}
.abovefooter h2{
    text-align: center; 
    color: #f2eaea;
    margin: 0; 
    font-size:small; 
    font-weight: 400; 
    padding: 1%;
}
.abovefooter :hover { 
    background-color: #62606B;
    color: #051d30;
}

.footer > * {
flex: 1 100%;
}
.footer__addr {
margin-right: 1.25em;
margin-bottom: 2em;
}

.nav__title {
font-weight: 400;
font-size: 15px;
}
.footer address {
font-style: normal;
color: #999;

}
.footer__btn {
display: flex;
align-items: center;
justify-content: center;
height: 36px;
max-width: max-content;
background-color: rgb(33, 33, 33, 0.07);
border-radius: 100px;
color: #2f2f2f;
line-height: 0;
margin: 0.6em 0;
font-size: 1rem;
padding: 0 1.3em;
}
.footer ul {
list-style: none;
padding-left: 0;
}
.footer li {
line-height: 1.5em;
}
.footer a {
text-decoration: none;
}
.footer__nav {
display: flex;
flex-flow: row wrap;
}
.footer__nav > * {
flex: 1 50%;
margin-right: 1.25em;
}
.nav__ul a {
color: #f2eaea;
}
.nav__ul a:hover {
    text-decoration: underline;
    }
.nav__ul--extra {
column-count: 2;
column-gap: 1.25em;
}

.heart {
color: #2f2f2f;
}
@media screen and (min-width: 24.375em) {
    .legal .legal__links {
    margin-left: auto;
    }
    }
    @media screen and (min-width: 40.375em) {
    .footer__nav > * {
    flex: 1;
    }
    .nav__item--extra {
    flex-grow: 2;
    }
    .footer__addr {
    flex: 1 0px;
    }
    .footer__nav {
    flex: 2 0px;
    }
    .footer_nav{
        display: inline-block;
    }
}

.footer {
    margin-top: auto;
} 





/* color scheme:
<p style="background-color: #051d30; padding: 20px;">fill one</p>
<p style="background-color: #305D58;  padding: 20px;">fill two</p>
<p style="background-color: #62606B;  padding: 20px;">fill three</p>
<p style="background-color: #EADAC0;  padding: 20px;">fill four</p> */
