{% extends 'baseCustomer.html' %}
{% block title %}Complaint{% endblock %}
{% block body %}
    <style>
        .complaintBox {
            background-color: whitesmoke;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 95%;
            height: 500px;
            margin: 0 auto;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .complaint {
            border: 1px solid black;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 80%;
            height: 400px;
            background-color: rgb(221, 221, 221);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
        }

        label {
            font-size: 20px;
        }

        .title {
            width: 40%;
            height: 35px;
            padding: 5px;
            font-size: 15px;
        }

        .description {
            padding: 5px;
            font-size: 15px;
            max-width: 100%;
        }

        .demand {
            width: 130px;
            padding: 5px;
        }

        .demand:hover {
            cursor: pointer;
        }

        .submit {
            margin-right: 200px;
            margin-left: 200px;
            height: 30px;
            border-radius: 10px;
            background-color: rgb(186, 186, 0);
            font-size: 15px;
            font-weight: bold;
        }

        .submit:hover {
            cursor: pointer;
            background-color: rgb(251, 251, 0);
        }
    </style>

    <div class="complaintBox">
        <h1 class="heading">Complaint</h1>
        <form class="complaint">
            <label for="title">Title</label>
            <input type="text" class="title" maxlength="60" required>
            <label for="description">Description</label>
            <textarea name="description" class="description" cols="30" rows="10" maxlength="1000" required></textarea>
            <label for="demand">Demand</label>
            <select name="demand" class="demand" required>
                <option value="return">Return</option>
                <option value="refund">Refund</option>
                <option value="warranty_claim">Warranty Claim</option>
            </select>
            <input type="submit" value="Confirm" class="submit">
        </form>
    </div>
{% endblock %}