{% extends 'baseCustomer.html' %}

{% block body %}

<div class="homebody">
  <div class="line"></div>
    <h1 style="font-family: Anta; animation: fadeIn; animation-duration: 4s; text-align:center;">Your Dashboard</h1>
  <div class="line"></div>
</div>
<br><br>
<div class='dashgrid'>
  
  <a href="/account.html">
    <div class="dash_item">
      <div class="item item1">
      </div>
      <div class="discript">
        <h2>Account</h2>
        <p style="font-size:8px;">View or Edit your Account here.</p>
      </div>
    </div>
  </a>

  <a href="/orders.html">
    <div class="dash_item">
      <div class="item item2">
      </div>
      <div class="discript">
        <h2>Your Orders</h2>
        <p style="font-size:8px;">View your past Transactions or Orders.</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item12">
      </div>
      <div class="discript">
        <h2>Your Profile</h2>
        <p style="font-size:8px;">View or Edit your Profile and Preferences here.</p>
      </div>
    </div>  
  </a>

  <a href="#">
    <div class="dash_item">
      <div class='item item8'>
      </div>
      <div class="discript">
        <h2>Your Payments</h2>
        <p style="font-size:8px;">Add, Edit, or Delete your payment methods here.</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item9">
      </div>
      <div class="discript">
        <h2>Your Addresses</h2>
        <p style="font-size:8px;">Add, Edit, or Delete your addresses here.</p>
      </div>
    </div>
  </a>

  <a href="/chats.html">
    <div class="dash_item">
      <div class="item item3">
      </div>
      <div class="discript">
        <h2>Chats</h2>
        <p style="font-size:8px;">Chat with Vendors of your favorite products!</p>
      </div>
    </div>  
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item4">
      </div>
      <div class="discript">
        <h2>Reviews</h2>
        <p style="font-size:8px;">View, Add, Edit, or Delete your Reviews of your Products here.</p>
      </div>  
    </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item5">
      </div>
      <div class="discript">
        <h2>Complaint</h2>
        <p style="font-size:8px;">Have a Worry or Complaint? Voice your thoughts here!</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item6">
      </div>
      <div class="discript">
        <h2>Returned Items</h2>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item7">
      </div>
      <div class="discript">
        <h2>Login & Security</h2>
        <p style="font-size:8px;">Edit Login information here.</p>
      </div>
  </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item10">
      </div>
      <div class="discript">
        <h2>Customer Service</h2>
        <p style="font-size:8px;">Need Help? Don't hesitate to ask one of our representatives!</p>
      </div>  
    </div>
  </a>

  <a href="#">
    <div class="dash_item">
      <div class="item item11">
      </div>
      <div class="discript">
        <h2>Digital Services and Device Support</h2>
      </div>
    </div>
  </a>

</div>

<br><br><br><br>
<br><br><br><br>
{% endblock %}