<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/base.css">
    <title>Title</title>
</head>
  <body>
    <header>
      <div class="topBar">
        <div class="">

        <a href="/"><img src="../static/logo.png" alt="Logo" class="logo"></a>

          <ul class="barItem">

            <li style="padding: 5px"><a href="/">Home Page</a></li>


          </ul>
        </div>
      </div>
    </header>

    {% block body %}
    {% endblock %}

  </body>
</html>