<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/base.css">
    <title>Title</title>
</head>
  <body>
    <header>
        <div class="topBar" style="padding: 10px;">
            <a href="/"><img src="../static/logo.png" alt="Logo" class="logo" style="text-align: center;"></a>

          <ul class="barItem">
            {% block y %}
            {% endblock %}
          </ul>
      </div>
    </header>

    {% block body %}
    {% endblock %}

  </body>
</html>