<style>
    .body form {
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .body {
        text-align:center;
        background-color: #EADAC0;
    }

    .loginBox {
      background-color: whitesmoke;
      width: 35%;
      margin: 0 auto;
      margin-bottom: 50px;
      border: 2px solid black;
      padding: 20px;
    }

    .input_field {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .input_submit {
      width: 60%;
      background-color: #305D58;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .input_submit:hover {
      background-color: #62606B;
    }

    .signupA {
      color: blue;
      text-decoration: none;
    }

    .loginH {
      font-size: 40px;
      margin-top: 40px;
      padding: 10px;
      font-family: Anta;
    }

</style>

{% extends 'base.html' %}
{% block title %}Customer Login{% endblock %}
{% block body %}
<div class='body'>
    <h1 class="loginH">User Login</h1>
    <div class="loginBox">
      <form action="/loginUser.html" method="POST">
        <input type="text" name="Username" placeholder="Username or Email" class='input_field' required>
        <input type="password" name="Password" placeholder="Password" class='input_field' required>
        <input type="submit" value="Login" class='input_submit'>
        <p class="signupP">No account? Sign up <a href="/signup.html" class="signupA">Here</a></p>
    </form>
    </div>
</div>
{% endblock %}