{% extends 'baseCustomer.html' %}

{% block body %}

<div class="homebody">
    <div class="line"></div>
    <h1 class="productsH">Products</h1>
    <div class="line"></div>
</div>
<div class="product-grid">
    {% for product in product_data %}
        <div class="product">
            <div class="product-imgDiv">
                <img src="{{ product.image }}" alt="{{ product.title }}" class="product-img">
            </div>
            <p class="product-title">{{ product.title }}</p>
            <p class="product-price">${{ product.price }}</p>
            <a href="{{ url_for('product_details', product_id=product.product_id) }}" class="product-a">View Details</a>
            <p class="product-vendor">Vendor & Seller ID: {{ product.user_id }}</p>
        </div>
    {% endfor %}
</div>



<!-- <h1>Products</h1>
<div class="product-grid">
    {% for product in product_data %}
        <div class="product">
            <img src="{{ product.image }}" alt="{{ product.title }}">
            <h2>{{ product.title }}</h2>
            <a href="{{ url_for('product_details', product_id=product.product_id) }}">View Details</a>
        </div>
    {% endfor %}
</div> -->
{% endblock %}