{% extends 'baseCustomer.html' %}

{% block title %}Products Details{% endblock %}

{% block body %}
<style>
body {
    font-family: Roboto;
}

.reviewBox {
    background-color: rgb(129, 127, 127);
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

.review {
    background-color: #152c3ff3;
    border: 3px solid black;
    padding: 20px;
    color: whitesmoke;
    overflow: auto;
    word-wrap: break-word;
    letter-spacing: 1.1px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.reviewBox {
    background-color: rgb(129, 127, 127);
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

.review {
    background-color: #152c3ff3;
    border: 3px solid black;
    padding: 20px;
    color: whitesmoke;
    overflow: auto;
    word-wrap: break-word;
    letter-spacing: 1.1px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
</style>


<section class="productDiv">
    <div class="productDiv-box">
        <div class="left">
            <h1 class="left-title">{{ product_data[1] }}</h1>
            <div class="left-imgGrid">
                {% for image in images %}
                    <div class="left-imgDiv">
                        <img src="{{ image[0] }}" alt="{{ product_data[1] }}" class="left-img">
                    </div>
                {% endfor %}
            </div>
        </div>
 
        <div class="right">
            <p class="right-price">${{ '%.2f'|format(product_data[5]) }}</p>
            {% if discounted_price %}
                <p>Discounted Price: ${{ '%.2f'|format(discounted_price) }}</p>
            {% endif %}
            <p class="right-description">{{ product_data[2] }}</p>
            <p class=right-warranty>Warranty Period: {{ warranties.Warranty_Year }} Years {{ warranties.Warranty_Month }} Months</p>
            <form action="{{ url_for('add_to_cart') }}" method="post">
                <h3 class="right-mainLabel">Sizes</h3>
                <div class="radio-buttons">
                    {% for size in sizes %}
                        <label class="radio-button">
                            <input type="radio" name="size" value="{{ size[0] }}" required>
                            <div class="radio-circle"></div>
                            <span class="radio-label">{{ size[0] }}</span>
                        </label>
                    {% endfor %}
                </div>
                <h3 class="right-mainLabel">Colors</h3>
                <div class="radio-buttons">
                    {% for color in colors %}
                        <label class="radio-button">
                            <input type="radio" name="color" value="{{ color[0] }}" required>
                            <div class="radio-circle"></div>
                            <span class="radio-label">{{ color[0] }}</span>
                        </label>
                    {% endfor %}
                </div>
                <p class=right-stock>Number Available: {{ product_data[4] }}</p>
                <div class="rightFlex">
                    <input type="number" class="right-quantity" name="amount" min="1" max="{{ product_data[4] }}" value="1">
                    <input type="hidden" name="product_id" value="{{ product_data[0] }}">
                    <input type="submit" value="Add to Cart" class="right-btn">
                </form>
            </div>
            </div>
    </div>
</section>

<section class="reviewBox">
    <h1 class="heading">Reviews</h1>

    {% for review in reviews %}
        <div class="review">
            <div class="review-header">
                <p class="name">User ID: {{ review[0] }}</p>
                <p class="date">Date: {{ review[3] }}</p>
                <p class="rating">Rating: {{ review[2] }}</p>
            </div>
            <p class="description">{{ review[4] }}</p>
        </div>
    {% endfor %}
</section>


{% endblock %} 