{% extends 'base.html' %}
{% block body %}
    <div>Product 1</div>
    <br>
    <div>product 2</div>
    <br>
    <div>product 3</div>
    <br>
    <div>Product 4</div>
    <br>
    <div>Product 5</div>
    <br>



    <div class="scheme1">
        <div class="body">Home Page (WEBSITE COLOR SCHEME?)</div>
        <p style="background-color: #051d30; padding: 20px;">fill one</p>
        <p style="background-color: #305D58;  padding: 20px;">fill two</p>
        <p style="background-color: #62606B;  padding: 20px;">fill three</p>
        <p style="background-color: #EADAC0;  padding: 20px;">fill four</p>
    </div>
{% endblock %}