{% extends 'baseCustomer.html' %}

{% block title %}Products Details{% endblock %}

{% block body %}
<style>
    body {
    font-family: Arial, sans-serif;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h2 {
    margin: 10px 0;
}

.product-details {
    width: 50%;
    margin: 0 auto;
}

.product-details h2 {
    margin-bottom: 20px;
}

.product-details p {
    margin-bottom: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images img {
    width: 30%;
    margin-bottom: 10px;
}
</style>
<h1>Product Details</h1>
<div class="product-details">
    <h2>{{ product_data[1] }}</h2>
    <p>Price: {{ product_data[6] }}</p>
    <p>Description: {{ product_data[2] }}</p>
    <p>Warranty Period: {{ product_data[3] }}</p>
    <p>Category: {{ product_data[4] }}</p>
    <p>Number Available: {{ product_data[5] }}</p>
    <div class="images">
        {% for image in images %}
            <img src="{{ image[0] }}" alt="{{ product_data[1] }}">
        {% endfor %}
    </div>
    <form action="{{ url_for('add_to_cart') }}" method="post">
        <input type="hidden" name="product_id" value="{{ product_data[0] }}">
        <input type="submit" value="Add to Cart">
    </form>
</div>
{% endblock %}
